@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

@layer components {
  .card {
    @apply max-w-xl p-6 bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700;
  }

  .card-title {
    @apply text-2xl font-semibold tracking-wide text-gray-900 dark:text-white;
  }

  .card-text {
    @apply font-normal text-gray-700 dark:text-gray-400;
  }
}
